<li class="new" id={{id}}>
    {{!-- image of a burger....? --}}
    <div class="burger-container">
        <div class="burger-li">{{burger_name}}</div>
        <button class="devour" data-id="{{id}}">chomp</button>
    </div>
</li>